@forward './Sass/input';

:root {
  --bg-color: #333;
}

$bgColor: --bg-color;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: $bgColor;
  transition: background-color 0.3s;
}

#root {
  padding-inline: 2em;
  width: 100%;
}

.modal {
  padding: 20px;
  height: 400px;
  background-color: #00000089;
  border: 1px solid #ffffff6b;
  border-radius: 16px;
}

.modal-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.output {
  width: 100%;
  height: 70px;
  font-size: 25px;
  color: #fff;
  background-color: #ffffff27;
  border-radius: 8px;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3.5em;
  width: 100%;
}

input {
  margin-block: 1em;
  width: 100%;
}

.color-btn {
  display: inline-block;
  padding: 1em 2em;
  font-size: 1.6rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.1s;

  &:hover {
    background-color: #ffffff33;
  }
}

@media (min-width: 576px) {
  #root {
    padding-inline: 13em;
  }
}

@media (min-width: 768px) {
  #root {
    padding-inline: 20em;
  }
}

@media (min-width: 992px) {
  #root {
    padding-inline: 30em;
  }
}

@media (min-width: 1200px) {
  #root {
    padding-inline: 40em;
  }
}